@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Figtree", serif !important;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #F4F5F6;
}

::-webkit-scrollbar-thumb {
    background: #384047;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #22262b;
}

body {
    margin: 0;
}

.container {
    padding: 0 30px;
    margin: 0 auto;
}